<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <script data-main="js/main" src="js/require.js"></script>

    <!--
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/form.js"></script>

    <script type="text/javascript" src="js/cascade.js"></script>
    -->

    <link href="css/bootstrap.min.css" rel="stylesheet">    
    <style>
    #top {
        margin-top: 1em;
    }
    #preview {
    }

    #survey-title {
    }

    label {
        cursor:pointer;
    }

    h2 {
        font-weight:normal;
        font-size:18px;
    }
    .question {
        border-bottom:1px solid #ccc;
        margin-bottom:20px;
        border:1px solid #ddd;
        background: #eee;
        padding:10px 10px 12px 10px;
        border-radius:5px;

    }
    .question .question {
        background:#fff;
    }
    .question .question .question {
        background: #eee;
    }
    .question .question .question .question {
        background: #fff;
    }
    .question .question .question .question .question {
        background: #eee;
    }

    .btn {
        margin-bottom:9px;
    }
    </style>

</head>
<body>
    <div class="container">

        <div class="row" id="top">
            <div class="span7">
                <form id="select-survey">
                </form>
                <hr>
            </div>
            <div class="span5 ">
                 <button type="button" class="btn btn-success save">Save form</strong></button>
                 <div id="last-save"></div>
            </div>
        </div>

        <div class="row">
            <div class="span7">
                <form>
                    <div id="editor"></div>

                    <div>
                    </div>
                </form>

            </div>
            <div class="span5 ">
                <div id="preview">
                    <div id="questions"></div>
                </div>

                <hr>

<!--                 <pre id="form-json"></pre>
 -->            </div>
        </div>

    </div>

    <!-- Form editing templates -->
    <script type="text/template" id="select-survey-template">
        <select>
            <% _.each(surveys, function(survey){ %>
                <option value="<%= survey.id %>"><%= survey.name %></option>
            <% }); %>
        </select>
    </script>

    <script type="text/template" id="question-template">
        <div class="question" data-type="yesno" data-name="<%= question.name %>">
            <input type="text" placeholder="Question" value="<%= question.text %>" data-role="question" class="input-xxlarge" style="width:90%" />
            <br>
            <button type="button" class="btn btn-small question-type" data-role="radio-question">Radio</button>
            <button type="button" class="btn btn-small question-type" data-role="checkbox-question">Checkbox</button>
            <button type="button" class="btn btn-warning btn-small remove right"><i class="icon-trash icon-white"></i> Delete question</button>
            

            <h2>Answers</h2>
            <div class="answers"></div>
            <label><button type="button" class="btn btn-success btn-small add-answer"><i class="icon-plus-sign icon-white"></i> Add an option</button></label>
            <button type="button" class="btn btn-success add-question"><i class="icon-plus-sign icon-white"></i> Add a question after <strong><%= question.name %></strong></button>

        </div>
    </script>

    <script type="text/template" id="answer-template">
        <div data-role="answer" class="iinputs-append">
            <input type="text" value="<%= text %>" />
            <button type="button" class="btn add-sub-question"><i class="icon-share-alt "></i> Add a sub-question</button>
            <button type="button" class="btn remove"><i class="icon-trash"></i></button>
        </div>
    </script>

    <!-- Form rendering templates -->

    <script type="text/template" id="question">
        <fieldset data-role="controlgroup" class="control-group" id="<%= id %>" data-parent="<%= parentID %>" data-trigger="<%= triggerID %>">
          <legend class="control-legend"><%= text %></legend>
          <% if(info !== undefined) { %>
            <a href="" class="show-info" data-role="button" data-inline="true" data-icon="info" data-trigger="info-<%= id %>">More info</a>
            <div id="info-<%= id %>" class="info">
              <%= info %>
              <a href="" data-role="button" data-icon="check" data-inline="true" class="box-close">Got it!</a>
            </div>
          <% }; %>
        </fieldset>
    </script>

    <script type="text/template" id="answer-radio">
    <label for="<%= id %>">
      <input type="radio" name="<%= questionName %>" id="<%= id %>" value="<%= value %>">
      <%= text %>
    </label>
    </script>

    <script type="text/template" id="answer-checkbox">
      <label for="<%= id %>">
        <input type="checkbox" name="<%= questionName %>" id="<%= id %>" value="<%= value %>" data-theme="<%= theme %>">
        <%= text %>
    </label>
    </script>

    <script type="text/template" id="answer-text">
      <label for="<%= id %>"><%= text %></label>
      <input type="text" name="<%= questionName %>" id="<%= id %>" value="<%= value %>">
    </script>
    
    <script type="text/template" id="answer-texarea">
      <label for="<%= id %>"><%= text %></label>
      <input type="text" name="<%= questionName %>" id="<%= id %>" value="<%= value %>">
    </script>
    

    <script type="text/template" id="repeat-button">
      <div class="repeating-button" style="display:none" data-parent="<%= parentID %>" data-trigger="<%= triggerID %>">
        <div class="append-to"></div>
        <a class="repeating-button button" href="#" data-icon="plus" data-role="button" data-inline="true">Add another</a>
      </div>
    </script>

</body>
</html>